.title {
  display: flex;
  padding: 0 0 0 3.5rem;
  align-items: center;
  h1 {
    @media screen and (max-width: 480px) {
      font-size: 24px;
    }
  }
  .tag {
    margin: 0 0 0 1rem;
    padding: 1px 8px;
    opacity: 0.91;
    border-radius: 4px;
    background-color: #1f1e1e;
    font-size: 1.4rem;
    top: -0.3rem;
    color: #18e0ff;
    font-weight: 600;
    &:nth-of-type(2) {
      background-color: #a0a0a049;
      color: #fd681f;
    }
    &:nth-of-type(3) {
      font-size: 1rem;
      border-radius: 10px;
      background-color: #cce9f5;
      color: #108cd4;
      @media screen and (max-width: 480px) {
        font-size: 10px;
      }
    }
    @media screen and (max-width: 480px) {
      font-size: 10px;
    }
  }
}
.leftCard {
  h4 {
    font-size: 1.4rem !important;
    font-weight: 600;
  }
}
